.song-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px;
  width: 900px;
  align-items: center;

  img {
    border-radius: 50%;
    width: 150px;
    box-shadow: rgb(179, 179, 179) 0px 0px 0px 2px inset;
  }

  h1 {
    color: #ffffff;
    font-size: 44;

    &:hover {
      cursor: pointer;
      transition: all 0.5s ease;
      color: #1db954;
    }
  }
}

.account-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  h1 {
    text-align: start;
  }
}

.account-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;

  h2 {
    color: #1db954;
  }

  h4 {
    text-align: start;
    text-transform: uppercase;
  }
}
