.tracks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 140px;

  .track-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: auto;
  }
}
