.song-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  // border-radius: 5px;
  // fill: #b3b3b3;
  // background: #282828;
  // margin: 10px;
  width: 215px;
  img {
    width: 240px;
  }

  h1 {
    text-align: start;
    text-transform: capitalize;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.24px;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    color: #b3b3b3;
    font-size: 14px;
    text-align: start;
  }
}
